#screen {
  aspect-ratio: 16/9;
  display: grid;
  grid-template: 100% / 100%;
}
body {
  background-image: url(clickerpictures/Kitchen.png);
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  max-width: 100%;
}

#tomato_container {
  position: absolute;
  top: 1%;
  right: 45%;
}

#tomato_sprite {
  width: 100%;
}

#banana_container {
  position: absolute;
  right: 20%;
}

#banana_sprite {
  width: 90%;
}

#jalapeno_container {
  position: absolute;
  right: 0%;
  padding-right: 50px;
}

#jalapeno_sprite {
  width: 100%;
}

#salad_container {
  position: absolute;
  padding-left: 35vh;
}

#salad_sprite {
  width: 100%;
}

#strawberry_container {
  margin-left: 20px;
}

#strawberry_sprite {
  width: 15%;
}

#banana_sprite {
  animation-name: pattern;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 999;
}

#game_ui {
  position: absolute;
  top: 0vw;
  right: 0vw;
  color: white;

  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  text-align: right;

  pointer-events: none;
}

#life_board img {
  width: 15%;
}

#coin_count {
  text-align: right;
}

.active_heart {
  filter: drop-shadow(0 0 20px black);
}

.broken_heart {
  filter: grayscale(50%) blur(0.5px);
}

#score_board {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.1em;
}

@keyframes pattern {
  0% {
    transform: translate(-100%, -50%);
  }
  25% {
    transform: translate(-300%, 150%);
  }
  50% {
    transform: translate(-100%, 350%);
  }
  75% {
    transform: translate(150%, 150%);
  }
  100% {
    transform: translate(-100%, -50%);
  }
}

.sliding {
  animation-name: sliding;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 999;
}
@keyframes sliding {
  0% {
    transform: translate(-50vh, 10vh);
  }
  25% {
    transform: translate(-50vh, 60vh);
  }
  50% {
    transform: translate(200vh, 60vh);
  }
  75% {
    transform: translate(200vh, 10vh);
  }
  100% {
    transform: translate(-50vh, 10vh);
  }
}
.falling_1 {
  animation-name: falling_1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling_1 {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(-400%, 300%);
  }
}

.falling_2 {
  animation-name: falling_2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling_2 {
  0% {
    transform: translate(-150%, -300%);
  }

  100% {
    transform: translate(150%, 300%);
  }
}
.falling_3 {
  animation-name: falling_3;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling_3 {
  0% {
    transform: translate(0, -50vw);
  }

  100% {
    transform: translate(50vw, 65vw);
  }
}

.paused {
  animation-play-state: paused;
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 3s;
  animation-timing-function: end;
  animation-iteration-count: forwards;
}

/* animation-fill-mode: forwards; */

@keyframes zoom_out {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

.zoom_in {
  animation-name: zoom_in;
  animation-duration: 3s;
  animation-timing-function: end;
  animation-iteration-count: forwards;
}

@keyframes zoom_in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(100, 100);
    opacity: 100%;
  }
}
/* tilføj zoomout med fill mode forward og en .pause {animation-play-state: paused;}
samt tilføj pause class id ved falling og zoomout class ved sprite linjen */
